<div class="container">
    <div class="row">
        <div class="col s10 offset-s1" id="panel">
            
            <div class="progress" *ngIf="showSpinner">
                <div class="indeterminate"></div>
            </div>

            <h3 id="title">ثبت نام</h3>
            
            <div id="errorMsg" *ngIf="errorMessage">
                <span>{{ errorMessage }}</span>
            </div>

            <form class="col s12" [formGroup]="signupForm" novalidate (ngSubmit)="signupUser()">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="user_name" type="text" formControlName="username">
                        <label for="user_name">نام کاربری</label>
                        <span class="error" *ngIf="!signupForm.controls['username'].valid && signupForm.controls['username'].touched">
                            نام کاربری را درست وارد کنید
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="email" type="email" formControlName="email">
                        <label for="email">ایمیل</label>
                        <span class="error" *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
                            ایمیل را درست وارد کنید
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="pass_word" type="password" formControlName="password">
                        <label for="pass_word">پسوورد</label>
                        <span class="error" *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
                            رمز کاربری را درست وارد کنید
                        </span>
                    </div>
                </div>
                <button class="btn waves-effect" id="signupbtn" [disabled]="!signupForm.valid">
                    ثبت نام
                </button>
            </form>
        </div>
    </div>
</div>