<app-toolbar></app-toolbar>

<div class="container" style="margin-top: 30px;">
<div class="row">


<div class="col s12 m8 l9">
<div class="row">
<h2 class="text">تغییر رمز عبور</h2>
<div class="col s12 password-column">
<div class="row">
<form class="col s12" [formGroup]="passwordForm" (ngSubmit)="ChangePassword()">
<div class="row">
<div class="input-field col s6" style="margin-left: 10px;">
<input type="password" id="cpassword" formControlName="cpassword">
<label for="cpassword">رمز درست</label>
<p class="error" *ngIf="!passwordForm.controls['cpassword'].valid && passwordForm.controls['cpassword'].touched">
لطفا این فیلد را پر کنید
</p>
</div>

<div class="input-field col s6" style="margin-left: 10px;">
<input type="password" id="new-password" formControlName="newPassword">
<label for="new-password">رمز عبور جدید</label>
<p class="error" *ngIf="!passwordForm.controls['newPassword'].valid && passwordForm.controls['newPassword'].touched">
لطفا این فیلد را پر کنید
</p>
</div>

<div class="input-field col s6" style="margin-left: 10px;">
<input type="password" id="confirm-password" formControlName="confirmPassword">
<label for="confirm-password"> تکرار رمز عبور جدید</label>
<p class="error" *ngIf="!passwordForm.controls['confirmPassword'].valid && passwordForm.controls['confirmPassword'].touched">
لطفا این فیلد را پر کنید
</p>
<p class="error" *ngIf="passwordForm.errors">تکرار رمز عبور درست نمی باشد</p>
</div>
</div>
<div class="row">
<div class="col s6" style="margin-left: 10px;">
<button class="btn" [disabled]="!passwordForm.valid">
رمز عبور جدید
</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>

<div class="col s12 m4 l3">
<app-side></app-side>
</div>

</div>
</div>
