<app-toolbar></app-toolbar>

<div class="container" style="margin-top: 30px;">
  <div class="row">

    <div class="col s12 m8 l9">
      <div class="row" *ngIf="followers.length > 0">
        <div class="col s12 m6 l4 cardDiv" *ngFor="let user of followers">
          <div class="card">
            <a>
              <div class="card-image imgDiv">
                <img class="imgCircle responsive-img"
                  src="https://res.cloudinary.com/dit1praji/image/upload/v{{user.follower.picVersion}}/{{user.follower.picId}}">
              </div>
            </a>
            <div class="card-action">
              <h3 class="card-title">
                {{ user.follower.username }}
              </h3>
              <p>{{user.follower.city}} {{user.follower.country}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row " *ngIf="followers.length <= 0">
        <h4 class="text"> شما طرفداری ندارد </h4>
      </div>
    </div>

    <div class="col s12 m4 l3">
      <app-side></app-side>
    </div>

  </div>
</div>
