<nav class="nav-extended">
    <div class="container">
        <div class="nav-wrapper">
            <a (click)="GoToHome()" class="brand-logo">Chat App</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="dropdown-button dropdown-trigger" data-target="dropdown">
                    <a href="#">
                        <i class="fa fa-globe fa-1x badge"></i>
                        <span class="new badge" *ngIf="count.length > 0">{{ count.length }}</span>
                    </a>

                    <ul id='dropdown' class='dropdown-content col s12 collection'>
                        <li class="collection-item avatar" *ngFor="let data of notifications" >
                            <img src="https://res.cloudinary.com/dit1praji/image/upload/v{{data.senderId.picVersion}}/{{data.senderId.picId}}" class="circle">
                            <span [ngClass]="data.read ? 'isRead': 'unread' " >{{ data.message }}</span>
                            <p class="time">{{ TimeFromNow(data.created) }}</p>
                        </li>

                        <li *ngIf="notifications.length < 0">
                            <p>اعلانی وجود ندارد</p>
                        </li>

                        <li class="secondary-content">
                            <p class="markAll btn" (click)="MarkAll()">اعلانی وجود ندارد</p>
                        </li>

                    </ul>

                </li>

                <li class="dropdown-button dropdown-trigger1" data-target="dropdown1">
                    <a>
                        <i class="fa fa-bell fa-1x badge"></i>
                        <span class="new badge" *ngIf="msgNumber > 0">
                            {{ msgNumber }}
                        </span>
                    </a>

                    <ul id='dropdown1' class='dropdown-content col s12 collection'>
                        <li class="collection-item avatar" *ngFor="let chat of chatList" (click)="GoToChatPage(chat.receiverId.username)" routerLinkActive="router-link-active" >
                          <img src="https://res.cloudinary.com/dit1praji/image/upload/v{{chat.receiverId.picVersion}}/{{chat.receiverId.picId}}" class="circle">
                            <span class="title">
                               {{ chat.receiverId.username }}
                                <a class="secondary-content">
                                    {{MessageDate(chat.msgId.message[chat.msgId.message.length-1].createdAt)}}
                                </a>
                            </span>
                            <p>
                                {{ chat.msgId.message[chat.msgId.message.length-1].body }}
                                <a class="secondary-content"
                                   *ngIf="!chat.msgId.message[chat.msgId.message.length-1].isReady &&
                                    chat.receiverId.username !== chat.msgId.message[chat.msgId.message.length-1].receivername"
                                >
                                   <i class="material-icons">brightness_1</i>
                                </a>
                                <a class="secondary-content" *ngIf="chat.msgId.message[chat.msgId.message.length-1].isReady">
                                    <i class="material-icons">panorama_fish_eye</i>
                                </a>
                            </p>
                        </li>
                        <li class="secondary-content">
                            <p class="markAll btn" (click)="MarkAllMessages()">مشاهده همه پیام ها</p>
                        </li>

                    </ul>

                </li>

                <li><a (click)="logout()">خروج</a></li>
            </ul>
        </div>
        <div class="nav-content">
            <div class="nav-div">
                <img class="circle responsive-img" src="https://res.cloudinary.com/dit1praji/image/upload/v{{imageVersion}}/{{imageId}}">
            </div>
            <h1 class="profile-name">{{ user.username }}</h1>

        </div>
    </div>
</nav>
