
nav {
  background-color: #76bffb !important;
}
.nav-div .circle {
    margin-left: 42%;
    border-color: 10px solid green;
    border: 10px solid #58aff7;
    width: 10em;
}

.profile-name {
    text-align: center;
}

.user-text {
    text-align: center;
}

.brand-logo {
    cursor: pointer;
}

#dropdown {
    width: 300px !important;
}

#dropdown1 {
    width: 300px !important;
}

.isRead {
    color: #64b5f6;
    margin: 0px !important;
    padding: 0px !important;
    font-weight: bold;
}

.unread {
    color: rgb(142, 170, 192);
    margin: 0px !important;
    padding: 0px !important;
    font-weight: bold;
}

.time {
    margin-bottom: 10px !important;
    font-style: italic;
}

.text {
    text-align: center;
}

.material-icons {
    color: #64b5f6 !important;
    cursor: pointer;
}

.title {
    color: #64b5f6;
    margin: 0px !important;
    padding: 0px !important;
    font-weight: normal;
}

.secondary-content {
    margin-top: -5px !important;
}

.markAll {
    color: #ffffff;
    background: #64b5f6 !important;
}

li.dropdown-button {
    margin-left: 20px !important;
}
