  <app-toolbar></app-toolbar>

  <div class="container" style="margin-top: 30px;">
    <div class="row">

      <div class="col s12 m8 l9">
        <div class="row">

          <div class="col s6">
            <div class="file-field input-field f-right">
              <a class="waves-effect waves-light btn" (click)="Upload()">
                <i class="material-icons left">image</i>آپلود عکس
              </a>
            </div>
          </div>

          <div class="col s6">
            <div class="file-field input-field">
              <div class="btn f-right">
                <span>فایل</span>
                <input type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="OnFileSelected($event)">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" id="filePath" type="text">
              </div>
            </div>

          </div>

        </div>
        <div class="row">
          <div class="col s12 m6 l4" *ngFor="let image of images">
            <div class="item-img-wrap imgDiv">
              <img class="imgCircle"
                src="https://res.cloudinary.com/dit1praji/image/upload/v{{image.imgVersion}}/{{image.imgId}}">
              <button class="btn imgBtn" (click)="SetProfileImage(image)">تغییر پروفایل</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m4 l3">
        <app-side></app-side>
      </div>

    </div>
  </div>
