.imgCircle{
  border-radius: 50px;
}

.imgCircle {
  width: 160px !important;
  height: 160px !important;
  border-radius: 50%;
  margin: 0 auto !important;
}

.imgBtn {
  margin: 0 25px !important;
  text-align: center !important;
  margin-top: 5px !important;
  // padding: 0 30px !important;
}

.active {
  width: 350px !important;
  height: 350px !important;
  border-radius: none !important;
  margin: 50px 0px 0px 120px !important;
}

.f-right{
  float: right;
}

@media only screen and (max-width: 480px){
  .imgCircle {
    width: 140px !important;
    height: 140px !important;
  }
}
