<div class="row">
  <div class="col s12 m12 l10">
    <div class="card postDiv">
      <div class="card-content">
        <form [formGroup]="postForm" novalidate (ngSubmit)="SubmitPost()">
          <div class="formDiv">
            <textarea formControlName="post" id="textareal" class="materialize-textarea"></textarea>
            <div class="file-field input-field">
              <div class="row">
                <div class="col s6">
                  <div class="btn">
                    <span>
                      <i class="material-icons">image</i>
                      انتخاب عکس
                    </span>
                    <input type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="OnFileSelected($event)">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
                <div class="col s6">
                  <button class="btn postBtn">
                    پست ها
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
