<div class="row">
  <div class="col s12 m4" [routerLinkActive]="['']" [routerLinkActiveOptions]="{exact: true}">
    <a *ngIf="userData" [routerLink]="['', userData.username]">
      <span>پست ها</span>
      <p class="num" *ngIf="userData">{{ userData.posts.length }}</p>
      <p class="num" *ngIf="!userData">0</p>
    </a>
  </div>
  <div class="col s12 m4" [routerLinkActive]="['']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/people', 'following']">
      <span>دنبال کننده</span>
      <p class="num" *ngIf="userData">{{ userData.following.length }}</p>
      <p class="num" *ngIf="!userData">0</p>
    </a>
  </div>
  <div class="col s12 m4" [routerLinkActive]="['']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/people', 'followers']">
      <span>طرفداران</span>
      <p class="num" *ngIf="userData">{{ userData.followers.length }}</p>
      <p class="num" *ngIf="!userData">0</p>
    </a>
  </div>
</div>


<ul class="collection with-header">

  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/streams']">
      <div>خبر ها / پست ها
        <a href="#!" class="secondary-content a-right">
          <i class="material-icons">announcement</i>
        </a>
      </div>
    </a>
  </li>
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/people']">
      <div>مخاطبین
        <a href="#!" class="secondary-content a-right">
          <i class="material-icons">people</i>
        </a>
      </div>
    </a>
  </li>
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/people', 'following']">
      <div>دنبال کننده
        <a href="#!" class="secondary-content a-right">
          <i class="material-icons">people</i>
        </a>
      </div>
    </a>
  </li>
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/people', 'followers']">
      <div>طرفداران
        <a href="#!" class="secondary-content a-right">
          <i class="material-icons">people_outline</i>
        </a>
      </div>
    </a>
  </li>

  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/images', user.username]">
      <div>عکس ها
        <a href="#!" class="secondary-content a-right">
          <i class="material-icons">photo_library</i>
        </a>
      </div>
    </a>
  </li>
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/notifications']">
      <div>اعلان ها
        <a href="#!" class="secondary-content a-right">
          <i class="material-icons">alarm</i>
        </a>
      </div>
    </a>
  </li>
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/account','password']">
      <div>تغییر رمز عبور
        <a href="#!" class="secondary-content a-right">
          <i class="material-icons">vpn_key</i>
        </a>
      </div>
    </a>
  </li>
</ul>
