<app-toolbar></app-toolbar>

<div class="container" style="margin-top: 30px;">
  <div class="row">

    <div class="col s12 m8 l9">
      <div class="col s12 m10">
        <div class="row">
          <div class="card">
            <div class="collection">
              <div class="collection-item">
                <div class="post">{{ post }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l10">
            <div class="card postDiv">
              <div class="card-content">
                <form [formGroup]="commentForm" (ngSubmit)="AddComment()">
                  <div class="formDiv">

                    <textarea formControlName="comment" class="materialize-textarea"></textarea>

                    <button class="btn postBtn" [disabled]="!commentForm.valid">
                      افزودن کامنت
                    </button>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <ul class="collection col s12 m10" *ngFor="let comment of commentsArray">
            <li class="collection-item avatar">
              <img class="circle"
                src="https://res.cloudinary.com/dit1praji/image/upload/v{{comment.userId.picVersion}}/{{comment.userId.picId}}">
              <span class="title">{{ comment.username }}</span>
              <p class="time">{{ TimeFromNow(comment.createdAt) }}</p>
              <p class="postComment">{{ comment.comment }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col s12 m4 l3">
      <app-side></app-side>
    </div>

  </div>
</div>
