.postDiv {
    background-color: #64b5f6;
}

form {
    background-color: #fff;
}

.formDiv {
    margin: 0px 20px 0px 20px;
    height: 100px;
}

.addImageBtn {
    margin-bottom: 5px;
}

.postBtn {
    float: right;
    margin-bottom: 5px;
}

.file-field input[type='file'] {
    width: 70% !important;
}