<div class="container">
    <div class="row">
        <div class="col s10 offset-s1" id="panel">
            <form class="col s12">

                <div class="progress" *ngIf="showSpinner">
                    <div class="indeterminate"></div>
                </div>

                <h3 id="title">ورود</h3>

                <div id="errorMsg" *ngIf="errorMessage">
                    <span>{{ errorMessage }}</span>
                </div>

                <form class="col s12" [formGroup]="loginForm" novalidate (ngSubmit)="loginUser()">

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Username" type="text" formControlName = "username">
                            <label for="Username">نام کاربری</label>
                            <span class="error" *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched">
                                نام کاربری را درست وارد کنید
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" type="password" formControlName="password">
                            <label for="password">پسوورد</label>
                            <span class="error" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                                رمز عبور را درست وارد کنید
                            </span>
                        </div>
                    </div>

                    <button class="btn waves-effect" id="loginbtn"  [disabled]="!loginForm.valid">
                        ورود
                    </button>

                </form>

            </form>
        </div>
    </div>
</div>
