#panel{
    background-color: #ffffff;
    padding: 0px;
}

#loginbtn{
    float: right;
    margin-right: 10px;
    background-color: #64b5f6;
    font-weight: 500;
}

#title{
    background-color: #64b5f6;
    color: white;
    padding: 8px;
    margin-top: 0px;
    font-weight: 700;
    text-align: center;
}

form{
    padding: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0px 20px 0px 20px;
}

.error {
    color: red;
}

.indeterminate{
    background-color: #64b5f4;
}

.input-field {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

#errorMsg {
    background: #ec5b63;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 20px;
}

#errorMsg span {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: relative;
    float: left;
    font-size: 15px;
    color: white;
}