.cityName{
  font-size: 18px;
  color:black;
}

.title {
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-bottom: 0;
}

.card_image{
  width:200px;
  height: auto !important;
}

.card-title{
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-bottom: 0;
}

.tabs a {
  color: #64b5f6;
  font-weight: bold;
  font-size: 16px;
}

.tabs .col .s4 {
  text-align: center !important;
  margin: 0 auto !important;
}

.tabs a .indicator {
  background-color: #64b5f6 !important;
}

.collection {
  border: none !important;
}

.collection-item {
  border: none !important;
}
