<app-toolbar></app-toolbar>

<div class="container">
  <div class="col s12 m12 l10">
    <ul class="tabs">
      <li class="tab col s4">
        <a href="#" class="active" (click)="ChangeTab('posts')">
          پست ها
        </a>
      </li>
      <li class="tab col s4">
        <a href="#" (click)="ChangeTab('following')">
          دنبال کننده ها
        </a>
      </li>
      <li class="tab col s4">
        <a href="#" (click)="ChangeTab('followers')">
          طرفداران
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col s12 m4 l3">
      <div class="row">
        <div class="col s12" *ngIf="user">
          <span class="title">{{name}}</span>

          <h2 class="cityName" >{{user.city}} {{user.country}}</h2>

        </div>
      </div>
    </div>

    <div class="col s12 m8 l9" style="background: white;">
      <div class="row">
        <div class="col s12">
          <div class="row" *ngIf="postsTab === true">
            <ul class="collection col s12 m12 l10" *ngFor="let post of posts">
              <li class="collection-item avatar">
                <img class="circle"
                  src="https://res.cloudinary.com/dit1praji/image/upload/v{{user.picVersion}}/{{user.picId}}">
                <span class="post">{{post.postId.username}}</span>
                <p class="time">{{TimeFromNow(post.created)}}
                  <br> @{{user.city}}, {{user.country}}
                </p>
              </li>
              <div class="row">
                <div class="col s12">
                  <div class="card">
                    <div class="card-image card_image" *ngIf="post.postId.imgId">
                      <img class="postImage"
                        src="https://res.cloudinary.com/dit1praji/image/upload/v{{post.postId.imgVersion}}/{{post.postId.imgId}}">
                    </div>
                    <div class="card-content">
                      <p>{{post.postId.post}}</p>
                    </div>
                    <div class="card-action">
                      <i class="material-icons">thumb_up</i>
                      <span id="iconSpan">
                        {{post.postId.totalLikes}}
                      </span>
                      <i class="material-icons">chat</i>
                      <span id="iconSpan">
                        {{post.postId.comments.length}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
          </div>

          <div class="row" *ngIf="followingTab === true">
            <div class="col s12 m4 l4" *ngFor="let user of following">
              <div class="card">
                <div class="card-image imgDiv">
                  <img
                    src="https://res.cloudinary.com/dit1praji/image/upload/v{{user.userFollowed.picVersion}}/{{user.userFollowed.picId}}"
                    class="imgCircle">
                </div>
                <div class="card-action">
                  <h3 class="card-title">{{user.userFollowed.username}}</h3>
                  <div *ngIf="user.userFollowed.country">{{user.userFollowed.city}}, {{user.userFollowed.country}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="followersTab === true">
            <div class="col s12 m4 l4" *ngFor="let user of followers">
              <div class="card">
                <div class="card-image imgDiv">
                  <img
                    src="https://res.cloudinary.com/dit1praji/image/upload/v{{user.follower.picVersion}}/{{user.follower.picId}}"
                    class="imgCircle">
                </div>
                <div class="card-action">
                  <h3 class="card-title">{{user.follower.username}}</h3>
                  <!-- <p>Conutry</p> -->
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>
